[submodule "Arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "Watchy"]
	path = components/Watchy/Watchy
	url = https://github.com/DarkZeros/Watchy.git
[submodule "WiFiManager"]
	path = components/WiFiManager/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "pcf8563"]
	path = components/pcf8563/pcf8563
	url = https://github.com/orbitalair/Rtc_Pcf8563.git
[submodule "ArduinoJson"]
	path = components/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "DS3232RTC"]
	path = components/DS3232RTC/DS3232RTC
	url = https://github.com/JChristensen/DS3232RTC
[submodule "GfxLibrary"]
	path = components/GfxLibrary/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "GxEDP2"]
	path = components/GxEPD2/GxEPD2
	url = https://github.com/DarkZeros/GxEPD2
[submodule "Time"]
	path = components/Time/Time
	url = https://github.com/PaulStoffregen/Time
[submodule "BusIO"]
	path = components/GfxLibrary/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "ArduinoNvs"]
	path = components/ArduinoNvs/ArduinoNvs
	url = https://github.com/DarkZeros/ArduinoNvs
[submodule "NTPClient"]
	path = components/NTPClient/NTPClient
	url = https://github.com/arduino-libraries/NTPClient
[submodule "WatchyOS"]
	path = main
	url = https://github.com/DarkZeros/WatchyOS_arduino
